
{% extends 'index.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">List of Movies</div>
    <div class="panel-heading">Ilosc filmow {{movies|length}}</div>

    <div class="panel-body">
        <ul>
            {% for movie in movies %}
            <li>{{ movie.name|upper }}
            {{ movie.created_on|date:'Y-m-d' }}
            <a href="{% url 'movie_delete' pk=movie.id %}"><b>Delete</b></a>
                <a href="{% url 'movie_edit' pk=movie.id %}"><b>Edit</b></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}